/*
Tailwind CSS file with overrides for certain elements of CSS
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-image: linear-gradient(to right, #1e3a8a,
                        #6d28d9, #ec4899);

}

.mainText{
  font-size: 100px !important;
  color: white;
}

button {
  background-color: transparent;
  color: #ffffff; /* Adjust the text color as needed */
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  color: red; /* Adjust the hover text color as needed */
}